@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;500;700;800&display=swap");

#root {
  --font: #fbf8e7;

  --dark-grey: #4c5961;

  --orange: #ef8c20;
  --dark-orange: rgb(154, 77, 17);
  --light-brown: #fbe7be;
  --medium-brown: #edb46e;
  --dark-brown: rgb(87, 42, 12);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Dosis", sans-serif;
}

body {
  min-height: 100vh;
  width: 100%;
  color: var(--font);
}
